.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper .container {
  flex: 1;
}

.header {
  display: flex;
  align-items: flex-end;
}

.card {
  height: 400px;
}

.card .card-image .btn-floating.halfway-fab {
  text-align: center;
}

.card .card-image img {
  height: 150px;
  object-fit: cover;
}

.card .card-content .card-title {
  font-size: 20px;
}
.card .card-content pre {
  white-space: pre-wrap;
}
